Hello <%=name%>, now I need to know how many cents you have

<form method = "post" action = "/cents">
	<input type = "number" name = "cents" autofocus>
	<input type = "text" name ="user_name" value = <%=name%> hidden>
	<input type = "submit">
</form>