Welcome to the Magic Coin Changer. 

I can tell you the least amount of coins you will get in exchange for your cents!

But first, what is your name?

<form method = "post" action = "/name">
	<input type = "text" name = "user_name" autofocus>
	<input type = "submit">
</form>